.collapse-nav {
    display: none;
    padding-right: 20pt;
    margin-left: auto;
    list-style: none;
}

.menu-button {
    list-style: none;
}

.menu-link, .menu-dropdown {
    background-color: aliceblue;
}

.menu {
    float: right;
    padding: 7pt;
    padding-top: 10pt;
}

.menuIcon {
    width: 18pt;
    height: 2pt;
    background-color: aliceblue;
    margin: 4pt;
}

 .menu:hover .menuIcon {
    background-color: gold;
    display: block;
}

.menu-content {
    display: none;
    list-style: none;
}

