.collapse-nav {
    right: 0;
    padding-right: 20pt;
    list-style: none;
    position: absolute;
}

.menu-button {
    list-style: none;
    float: right;
}

.menu-link, .menu-dropdown-link, .menu-dropdown-start {
    background-color: lightgray;
    float: right;
    clear: right;
    padding: 5pt;
    padding-left: 10pt;
    padding-right: 10pt;
    display: none;
    margin: 0pt;
}

.menu-dropdown-link {
    padding-left: 10pt;
    padding-right: 10pt;
    display: none;
    font-size: 12pt;
}

.menu {
    float: right;
    padding: 7pt;
    padding-top: 13pt;
}

.menuIcon {
    width: 18pt;
    height: 2pt;
    background-color: aliceblue;
    margin: 4pt;
}

 .menu:hover .menuIcon {
    background-color: #14FFEC;
    display: block;
}

.menu-content {
    list-style: none;
    float: right;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.menu-item:hover, .menu-dropdown-link:hover {
    background-color: lightslategray;
}

.menu-dropdown-start-selected {
    background-color: darkslategray;
    color: aliceblue;
}

.menu-item, .menu-dropdown-link {
    width: 120pt;
}