.navbar {
    display: flex;
    white-space: nowrap;
    width: 100%;
}

.dropdown {
    display: flex;
    flex-direction: column;
}

.dropdown-content, .dropdown-start {
    list-style: none;
    background-color: lightgray;
    margin: 0pt;
    padding: 10pt;
}

.dropdown-content {
    display: none;
}

.nav-link {
    padding: 7pt;
    padding-top: 14.5pt;
    padding-bottom: 10pt;
    list-style: none;
}

.dropdown-start {
    background-color: #121212;
    padding-top: 14.5pt; 
}

.dropdown-content:hover {
    background-color: lightslategray;
}

.dropdown-start:hover .dds {
    color: gold;
}
