.navbar {
    position: absolute;
    white-space: nowrap;
    margin-left: 150pt;
    z-index: 3;
    align-items: flex-start;
}

.dropdown {
    display: flex;
    flex-direction: column;
}

.dropdown-content, .dropdown-start {
    list-style: none;
    background-color: lightgray;
    margin: 0pt;
}

.dropdown-content {
    display: none;
    padding: 10pt;
}

.nav-link {
    padding: 7pt;
    padding-top: 14.5pt;
    padding-bottom: 11.5pt;
    list-style: none;
    height: 16pt;
}

.dropdown-start {
    background-color: #121212;
    padding: 7pt;
    padding-top: 14.5pt;
    padding-bottom: 11.5pt;
    height: 16pt;
}

.dropdown-content:hover {
    background-color: lightslategray;
}

.dropdown-start:hover .dds {
    color: #14FFEC;
}
