html {
    position: relative;
}

body {
    margin: 0px;
}

p {
    font-size: 12pt;
}

header, footer {
    background-color: #121212;
}

nav {
    display: flex;
}

.white-text {
    color: aliceblue;
    text-decoration: none;
}

.white-text-muted {
    color: darkgray;
    text-decoration: none;
}

.main-contents {
    margin: 0px;
    background-color:blueviolet;
    color:aliceblue;
}

nav {
    overflow: hidden;
    background-color: #121212;
}

.main {
    float: left;
    font-size: 14pt;
    padding: 12pt;
    padding-left: 20pt;
}

.navbar {
    display: flex;
}

.collapse-nav {
    display: none;
    padding-right: 20pt;
    margin-left: auto;
}

.nav-link {
    float: left;
    padding: 7pt;
    padding-top: 14.5pt;
}

.nav-link:hover, .dropdown-start:hover, .main:hover {
    background-color: darkgreen;
    color: gold;
}

.dropdown {
    display: flex;
}

.dropdown-start{
    padding: 7pt;
    padding-top: 14.5pt;
}

.dropdown-content {
    display: none;   
}

.menu {
    padding-top: 11pt;
    padding-bottom: 9.5pt;
}

.menuIcon {
    width: 18pt;
    height: 2pt;
    background-color: aliceblue;
    margin: 4pt;
}

 .menu:hover .menuIcon {
    background-color: gold;
}