html {
    position: relative;
}

body {
    margin: 0px;
    z-index: 1;
}

p {
    font-size: 12pt;
}

footer, nav {
    background-color: #121212;
}

nav {
    display: flex;
}

.main-contents {
    margin: 0px;
    background-color:blueviolet;
    color:aliceblue;
}

nav {
    overflow: hidden;
}

.main {
    float: left;
    font-size: 14pt;
    padding: 12pt;
    padding-left: 20pt;
    white-space: nowrap;
}

.nav-link:hover, .dropdown-start:hover, .menu:hover, .main:hover {
    color: gold;
}