.white-text {
    color: aliceblue;
    text-decoration: none;
}

.dark-text {
    color: #121212;
    text-decoration: none;
}

.white-text-muted {
    color: darkgray;
    text-decoration: none;
}

.dark-text-muted {
    color: #646464;
    text-decoration: none;
}

h1, h2, h3 {
    text-align: center;
    font-weight: lighter;
}

hr {
    color: darkgray
}

.center {
    text-align: center;
}