.white-text {
    color: aliceblue;
    text-decoration: none;
}

.dark-text {
    color: #121212;
    text-decoration: none;
}

.white-text-muted {
    color: darkgray;
    text-decoration: none;
}

.dark-text-muted {
    color: #646464;
    text-decoration: none;
}

h1, h2, h3 {
    text-align: center;
    font-weight: lighter;
}

h4 {
    font-size: 15pt;
}

hr {
    color: darkgray
}

u {
    color: aliceblue;
}

ul {
    margin: 0pt;
    margin-top: 3pt;
    margin-bottom: 3pt;
}

.center {
    text-align: center;
}

.resRef {
    padding: 5pt;
    max-width: 750pt;
    margin: 0px;
}

.education, .workAndRelExp, .leadership, .skillsAwards {
    padding-left: 35pt;
    padding-right: 35pt;
    list-style: outside;
}

.resRef:hover {
    background-color: #121212;
    color: #14FFEC;
}